*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}
header{
    background-color: black;
    color: white;
    width: 100%;
    /* height: 571px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding-top: 20px;
    padding-bottom: 4%;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2vw;
}
nav{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding-inline-end: 2px;
    /* gap: 40px; */
    /* margin-inline: auto; */
}
nav img{
    height: 90%;
}
.nav-link:hover{
    color: #00ff6c;
    cursor: pointer;
}
.Welcome{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 80px;
    line-height: 1.1;
    margin-top: 3%;
    
    /* min-width: 665px; */
}
.para{
    width: 35%;
    text-align: center;
}
.button{
    display: flex;
    justify-content: space-around;
    width: 16rem;
    height: 51px;
    align-items: center;
    font-size: 26px;
    padding: 18px;
    font-weight: bold;
    border: none;
    border-radius: 36px;
    margin-top: 15px;
}
.button img{
    background-color: black;
    border-radius: 50%;
    height: 21px;
    width: 22px;
    padding: 4px;
}
.chain{
    /* background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
        background: linear-gradient(to right, #feff00db, #00ff6c);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
}
main{
    margin-top:4%; 
    width:100%;
    /* background-color: #00ff6c; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.top{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top h1{
    font-size: 50px;
    font-weight: 600;
}
.top p{
    font-size: 18px;
    font-weight: 500;
}
.images img{
    height: 30px;
    margin-inline: 4px;
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    padding: 6px;
}
.container{
    width: 70%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}
.box{
    border: 2px solid black;
    border-radius: 20px;
    width: 24%;
    /* background-color: #00ff6c; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.bt{
    display: flex;
    padding-inline: 5%;
    align-items: center;
    padding-block: 4%;
    gap: 4%;
    width: 100%;
    /* border: 1px solid black; */
    /* border-radius: 20px 20px 0px 0px; */
}
.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
}
.nd{
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 11%;
    padding-block: 4%;
    /* border: 1px solid black;
    border-radius: 0px 0px 20px 20px; */
}
.lt{
    display: flex;
    gap: 16px;
    border: 1px solid black;
    font-size: 19px;
    padding-inline: 8%;
    padding-block: 1%;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.exp-lg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}
.lt img{
    height: 72%;
    width: 72%;
    border: 1px solid black;
    border-radius: 50%;
    padding: 17%;
    background:linear-gradient(to right, #feff00db, #00ff6c); ;
}
.sub-head{
    font-weight: 600;
    font-size: 21px;
    text-align: center;
    width: 47%;
    margin-block: 7%;
    display: flex;
}
.cont2{
    width: 70%;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}
.box1{
    background-color:rgb(43 255 138 / 18%);
}
.box2{
    background: rgb(0 240 255 / 20%);
}
.box3{
    background-color:rgb(252 89 89 / 20%);
    
}
.box4{
    background-color: rgb(45 69 230 / 18%);    
}
.pic3{
    background: url(./asset/box3img.png)center center / cover no-repeat;
    height: 182px;
    width: 100%;
}
.pic1{
    background: url(./asset/box1image.png)center center / cover no-repeat;
    height: 182px;
    width: 100%;
}
.pic2{
    background: url(./asset/box2img.png)center center / cover no-repeat;
    height: 182px;
    width: 100%;
}
.pic4{
    background: url(./asset/box4img.png)center center / cover no-repeat;
    height: 182px;
    width: 100%;
}
footer{
    margin-top: 2%;
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ft-br{
    width: 50%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}
.f-lg{
    width: 20%;
}
.copy{
    padding: 1.5%;
}
